.container {
    margin: 0 auto;
    max-width: 1200px;
}

.bg-white {
    background-color: white;
}

.d-flex{
    display: flex;
    align-items: center;
}

.color-white {
    color: white;
}

#contents {
    height: 150px;
}
